body,
ul,
li,
h1,
p
 {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.display_flex {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    max-width: 1180px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items:flex-start;
    margin-bottom: 43px;
}

.first-screen {
    padding-top: 60px;
    min-height: 663px;
    background-image:url("../img/header/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.lady__content {
    max-width: 1180px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
}

.lady {
    position: absolute;
    bottom: 100%;
    right: 0px;
    display: block;
    max-width: 100%;
    height: 463px;
    flex-shrink: 0;
    z-index: 0;
}

.header__logo {
    display: flex;
    align-items:center;
}

.text__logo {
    display: block;
    color: #46B1DE;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Sofia Sans';
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
}

.text__name {
    display: block;
    color: #46B1DE;
    font-family: 'Sofia Sans';
    font-size: 26.852px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: -7px;
}

.menu {
    padding: 0;
}

.menu__nav {
    width: min-content;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 30px;
    padding: 0;
}

.menu__item {
    list-style-type: none;
    text-align: center;
    display: inline;
    font-size: 20px;
    margin: 0 40px;
}

.menu__link {
    text-decoration: none;
    color: #1B1D1F;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link:hover {
    color: #46b1de;
}

.tel {
    display: flex;
    align-items:center;
    margin-left: 41px;
    margin-right: 23px;
}

.tel__link {
    display: flex;
    position: relative;
    text-decoration: none;
    color: #1B1D1F;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.tel__link::before {
    background-position: center center;
    background-repeat:no-repeat;
    content: ' ';
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('../img/header/Phone.png');
    margin-right: 6px;
}


.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    box-shadow:none;
    background-color: transparent;
    border: 0;
    align-items: center;
    position: relative;
    width: 16px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.burger:focus .burger_line--2 {
    transform: rotate(45deg);
    background-color: #46B1DE;
    margin: 0;
}

.burger:focus .burger_line--1 {
    opacity: 0;
}

.burger:focus .burger_line--3 {
    transform: rotate(-45deg);
    background-color: #46B1DE;
    margin: 0;
    margin-left: 1px;
    margin-top: -1px;
}

.burger > span,
.burger > span::before,
.burger > span::after {
    display: block;
    width: 16px;
    height: 1px;
    background-color: #1B1D1F;
    transition-duration: .25s;
    transition: 0.3s all ease-in-out;
    margin: 2px 0;
}

.lang__header {
    display: flex;
    padding: 0;
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lang__header li {
    list-style: none;
    margin: 0;
    display: block;
    padding-right: 13px;
}

.lang__header li:last-child::before {
    content:' ';
    height: 13px;
    background-color: black;
    padding-left: 1px;
    margin-right: 13px;
}

.ua__head {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description {
    position: relative;
    display: block;
    max-width: 1180px;
    margin: 0 auto;
    z-index: 1;
}

.anim__descr {
    transform: translateY(150%);
    opacity: 0;
    animation: anim_descr 1.5s forwards;
}

@keyframes anim_descr {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: translateY(150%);}
    100% {transform: translateY(0);}
}

.anim__services {
    animation: anim_services 1.5s forwards;
    animation-delay: 0.2s;
    transform: translateY(150%);
    opacity: 0;
}

@keyframes anim_services {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: translateY(150%);}
    100% {transform: translateY(0);}
}

.card {
    animation: card_services 1.5s forwards;
    animation-delay: 0.5s;
    transform: translateX(-150%);
    opacity: 0;
}

@keyframes card_services {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: translateX(-150%);}
    100% {transform: translateX(0);}
}




.description__page {
    display: inline-block;
}

h1 {
    text-transform: uppercase;
    color:#1B1D1F;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.header__title {
    text-transform: uppercase;
    color: #46B1DE;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 4px;
}

.services {
    color: #1B1D1F;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.button__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex-shrink: 0;
    margin-top: 48px;
}

.button__call {
    border: 1px solid transparent;
    border-radius: 8px;
    background: linear-gradient(140deg, #46B1DE 0%, #0591CC 100%);
    box-shadow: 0px 2px 10px 0px #46B1DE;
    width: 180px;
    height: 60px;
    padding: 16px 35px;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

.button__services {
    border-radius: 8px;
    border: 1px solid #DDE0DC;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px #DDE0DC;
    width: 180px;
    height: 60px;
    padding: 16px 35px;
    color: #46B1DE;
    text-align: center;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

.card {
    max-width: 980px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin: 0 auto;
    position:relative;
    width: 100%;
    gap: 74px;
    align-items: center;
    text-align: center;
    margin-top: -52px;
    margin-bottom: 90px;
}

.card1, .card2, .card3 {
    display: inline-flex;
    text-align: left;
    box-sizing: border-box;
    align-items:center;
    align-self: center;
    justify-content:flex-start;
    border-radius: 8px;
    border: 1px solid #D8E1E1;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 120px;
    flex-shrink: 0;
}

.card1 {
    margin-top: 0;
    align-items: flex-start;
    padding-top: 35px;
}

.card1 .card__text {
    display: block;
    max-width: 146px;
}

.card1 .card__number {
    line-height: 0.9;
    margin-right: 7px;
    width: 93px;
}

.card3 .card__number {
    margin-right: 7px;
    width: 96px;
}

.card__number {
    display: block;
    width: 133px;
    text-align: center;
    margin-right: 3px;
    color: #46B1DE;
    text-align: center;
    font-family: 'Roboto';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__text {
    width: 146px;
    color:#1B1D1F;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main {
    display: block;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    color:#1B1D1F;
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.main__blue {
    color: #46B1DE;
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.main__text {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 50px;
}

.main__wrapper {
    display: grid;
    background-color: #46b1de;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: repeat(2,  1fr);
    max-width: 1020px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    box-sizing:border-box;
    position: relative;
    width: 100%;
    gap: 12px 40px;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 87px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 176px;
    width: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.box1, .box3, .box5 { 
    grid-row: 1; 
} 
 
.box2, .box4, .box6 { 
    grid-row: 2; 
}

.box__number{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    color:#46B1DE;
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.number__text {
    text-align: left;
    margin-left: 10px;

    color:#46B1DE;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.box__text {
    color: #1B1D1F;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box__inner {
    margin-left: 18px;
    margin-top: 10px;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 90px;
}

.circle {
    width: 302px;
    height: 302px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 302px;
    border: 1px solid #1B1D1F;
    background: rgba(217, 217, 217, 0.00);
}

.little__circle {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #46B1DE;
    align-items: center;
    justify-content: center;
    position: absolute;

    color: #FFF;
    font-family: 'Sofia Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.circle_1 {
    transform: translatex(0px) translatey(0px);
    animation: circle_1 1.5s forwards;
    animation-delay: 5s;
}

@keyframes circle_1 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(-102px) translatey(-117px);
    }
}

.circle_2 {
    transform: translatex(0px) translatey(0px);
    animation: circle_2 1.5s forwards;
    animation-delay: 5s;
}

@keyframes circle_2 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(102px) translatey(-117px);
    }
}

.circle_3 {
    transform: translatex(0px) translatey(0px);
    animation: circle_3 1.5s forwards;
    animation-delay: 5s;
}

@keyframes circle_3 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(-152px) translatey(0px);
    }
}

.circle_4 {
    transform: translatex(0px) translatey(0px);
    animation: circle_4 1.5s forwards;
    animation-delay: 5s;
}

@keyframes circle_4 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(152px) translatey(0px);
    }
}

.circle_5 {
    transform: translatex(0px) translatey(0px);
    animation: circle_5 1.5s forwards;
    animation-delay: 5s;
}

@keyframes circle_5 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(-102px) translatey(117px);
    }
}

.circle_6 {
    transform: translatex(0px) translatey(0px);
    animation: circle_6 1.5s forwards;
    animation-delay: 5s;
}

@keyframes circle_6 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    100% {
        transform: translatex(102px) translatey(117px);
    }
}

.left .item_1 {
    transform: translatex(-150px) translatey(-150px);
    animation: left--item_1 1.5s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes left--item_1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {
        transform: translatex(-150px) translatey(-150px)
    }
    100% {
        transform: translatex(0px) translatey(0px);
    }
}

.right .item_1 {
    transform: translatex(150px) translatey(-150px);
    animation: right--item_1 1.5s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes right--item_1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {
        transform: translatex(150px) translatey(-150px)
    }
    100% {
        transform: translatex(0px) translatey(0px);
    }
}

.left .item_2 {
    transform: translatex(-150px);
    animation: left--item_2 1.5s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes left--item_2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {
        transform: translatex(-150px)
    }
    100% {
        transform: translatex(0px);
    }
}

.right .item_2 {
    transform: translatex(150px);
    animation: right--item_2 1.5s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes right--item_2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {
        transform: translatex(150px)
    }
    100% {
        transform: translatex(0px);
    }
}

.left .item_3 {
    transform: translatex(-150px) translatey(150px);
    animation: left--item_3 1.5s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes left--item_3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {
        transform: translatex(-150px) translatey(150px)
    }
    100% {
        transform: translatex(0px) translatey(0px);
    }
}

.right .item_3 {
    transform: translatex(150px) translatey(150px);
    animation: right--item_3 1.5s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes right--item_3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {
        transform: translatex(150px) translatey(150px)
    }
    100% {
        transform: translatex(0px) translatey(0px);
    }
}

.box__wrapper {
   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.box__wrapper .left {
    text-align: right;
}

.box__wrapper .right {
    text-align: left;
}

.left .item_1 {
    margin-right: 16px;
}

.right .item_1 {
    margin-left: 16px;
}

.right .item_2 {
    margin-left: 64px;
}

.left .item_2 {
    margin-right: 64px;
}

.box_tittle {
    color: #46B1DE;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.box5_text {
    min-height: 74px;
}

.box__wrapper--item {
    margin-bottom: 31px;
    color:  #1B1D1F;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.attention {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 88px;
}

.img__attention {
    margin-right: 16px;
}

.attention__text {
    color: #46B1DE;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}


.appointment {
    width: 845px;
    height: 265px;
    flex-shrink: 0;
    margin: 0 auto;

    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 90px;
}

.appointment__box {
    width: 821px;
    height: 247px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    backdrop-filter: blur(2px);
    margin: 10px 9px;
}

.button__name:focus, .button__phone:focus {
    border: 2px solid #46B1DE;
}

.appointment__tittle {
    width: 763px;
    margin: 29px 33px 7px 25px;

    color:#1B1D1F;
    text-align: center;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
}

.appointment__text {
    width: 801px;
    margin-left: 14px;
    margin-right: 6px;
    margin-bottom: 45px;
    color: #1B1D1F;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.appointment__button {
    display: flex;
    margin: 0 auto;
}

.user, .phone {
    border-right: 1px solid #000;
    padding-left: 0;
    padding-right: 13px;
}

.button__name, .button__phone  {
    width: 233px;
    height: 57px;
    flex-shrink: 0;

    border-radius: 8px;
    background: rgba(217, 217, 217, 0.71);
}

.button__name {
    display: flex;
    align-items: center;
    color: rgba(27, 29, 31, 0.51);
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    margin-left: 18px;
}

.button__phone {
    display: flex;
    align-items: center;
    color: rgba(27, 29, 31, 0.51);
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    margin-left: 69px;
}

.button__sign {
    display: flex;
    border: 1px solid transparent;
    width: 180px;
    height: 57px;
    padding: 16px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 8px;
    background: #46B1DE;

    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-left: 67px;
}

.box__text--appointment {
    display: flex;
    margin-left: 23px;
}

.images {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 91px;
}


footer {
    min-height: 400px;
    background-image:linear-gradient(142deg, #A1C7D4 0%, #0680AA 100%);
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer__left {
    display: inline-block;
}

.footer__info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.footer__logo {
    display: flex;
    align-items:center;
    margin-bottom: 25px;
}

.tooth__text {
    display: block;
    margin-left: 10px;
    color: #0F2D4A;
    font-family: "Sofia Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
}

.footer__menu {
    padding: 0;
}

.footer__nav {
    padding: 0;
    margin-bottom: 45px;
    list-style-type: none;
}

.footer__item {
    margin-bottom: 15px;
}

.footer__link {
    text-decoration: none;
    color: #0F2D4A;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.footer__link:hover {
    color: white;
}

.lang__footer {
    display: flex;
    padding: 0;
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.lang__footer li {
    list-style: none;
    margin: 0;
    display: block;
    padding-right: 13px;
}

.lang__footer li:last-child::before {
    content:' ';
    height: 13px;
    background-color: black;
    padding-left: 1px;
    margin-right: 13px;
}

.lang__footer li a {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ua__text {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lang__footer li:hover {
    color:white;
}

.footer__time {
    padding-top: 20px;
}

.working__hou {
    list-style-type: none;
}

.hou__item {
    padding-bottom: 20px;
    color: #0F2D4A;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.hou__item--text {
    color: #0F2D4A;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contacts {
    list-style-type: none;
}

.contacts_text {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.contacts_name, .contacts_address {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
}

.contacts_call {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.call__link::before {
    display: block;
    height: 28px;
    width: 28px;
    content: ' ';
    background-image: url('../img/footer/call.png');
    margin-right: 15px;
}

.call__link {
    display: flex;
    align-items: center;
}

.call__link span {
    display: block;
    position: relative;

}

.contacts_messengers {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.viber, .telegram {
    margin-right: 35px;
    margin-bottom: 10px;
}

.instagram {
    margin-right: 10px;
}

.contacts_instagram {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    align-items:center;
    margin-bottom: 18px;
}

.contacts_instagram::before {
    content: ' ';
    display: block;
    height: 27px;
    width: 27px;
    background-image: url('../img/footer/instagram.png');
    margin-right: 13px;
}

.contacts_mail {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 12px;
    align-items:center;
}

.contacts_mail::before {
    display: block;
    height: 32px;
    width: 32px;
    content: ' ';
    background-image: url('../img/footer/email.png');
    margin-right: 6px;
}

.call__link,
.inst__link,
.mail__link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.inst__link::after,
.mail__link::after {
    content:' ';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    opacity: 0;
    bottom: -4px;
}

.call__link span::after {
    content:' ';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    opacity: 0;
}

.call__link span:hover::after,
.inst__link:hover::after,
.mail__link:hover::after {
    opacity: 1;
}

.copyright {
    display: flex;
    margin-left:150px;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@media (max-width:992px){
    .zub {
        width: 50px;
        margin-left: 15px;
    }

    .text__logo {
        font-size: 23px;
    }

    .text__name {
        font-size: 21px;
    }

    .tel__link {
        font-size: 18px;
    }

    .menu__nav, .lang__header {
        display: none;
    }

    .lady {
        position: relative;
        width: 208px;
        height: 173px;
        margin: 0 auto;
        margin-top: -181px;
    }

    h1, .header__title {
        font-size: 30px;
    }

    .description__page {
        text-align: center;
        padding: 0 15px;
    }

    .services {
        font-size: 16px;
        text-align: center;
    }

    .button__header {
        justify-content: space-between;
        gap: 0;
    }

    .button__call, .button__services {
        width: 120px;
        height: 55px;
        padding: 9px 20px;
        font-size: 17px;
    }

    .main__wrapper {
        max-width: 600px;
    }

    .main__wrapper br {
        display: none;
    }

    .card {
        grid-template-columns:repeat(1, 1fr);
        max-width: 180px;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
        margin-top: 8px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        height: auto;
        padding-bottom: 20px;
        padding-right: 15px;
        align-self: stretch;
        width: 90%;
        max-width: 300px;
    }

    .main__wrapper {
        grid-template-columns:auto auto;
        gap: 12px 20px;
        margin-bottom: 30px;
    }

    .number__text {
        font-size: 13px;
    }

    .box__number {
        font-size: 35px;
    }

    .box__text {
        font-size: 14px;
    }

    .box1, .box2 { 
        grid-row: 1; 
    } 
     
    .box3, .box4 { 
        grid-row: 2; 
    }

    .box5, .box6 { 
        grid-row: 3; 
    }

    .box__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left .item_1 {
        margin-right: 0;
        padding: 0 15px;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 31px;
    }
    
    .right .item_1 {
        margin-left: 0;
        padding: 0 15px;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 31px;
    }
    
    .right .item_2 {
        margin-left: 0;
        padding: 0 15px;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 31px;
    }
    
    .left .item_2 {
        margin-right: 0;
        padding: 0 15px;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 31px;
    }

    .left .item_3 {
        padding: 0 15px;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 31px;
    }
    
    .right .item_3 {
        padding: 0 15px;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 31px;
    }


    .box__wrapper .right,  .box__wrapper .left {
        text-align: center;
    }

    .circle {
        display: none;
    }

    .box__wrapper br {
        display: none;
    }

    .appointment {
        width: 481px;
        height: 400px;
        margin-bottom: 30px;
    }

    .appointment__box {
        width: 450px;
        height: 365px;
        padding: 5px 5px;
    }

    .appointment__tittle {
        width: 400px;
    }

    .appointment__text {
        width: 400px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .appointment__button {
        display: block;
        margin: 0 auto;
    }

    .button__name, .button__phone, .button__sign {
        margin: 0 auto;
    }

    .button__phone {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .images {
        display: block;
        margin-bottom: 30px;
    }

    .footer {
        width: auto;
        flex-direction: column;
    }

    .description {
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .footer__left, ul.contacts {
        margin-left: 0;
        width: auto;
    }

    .footer__logo {
        margin-bottom: 30px;
    }

    .footer__info {
        height: 80px;
    }

    ul.contacts {
        padding: 0;
        margin-left: 0;
    }

    .contacts_text {
        font-size: 21px;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .burger {
        display: flex;
    }

    .tel {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width:480px){
    .first-screen {
        box-sizing:border-box;
    }


    .zub {
        width: 30px;
        height: 33px;
        margin-left: 15px;
    }

    .tel {
        margin-left: 0;
        margin-right: 15px;
    }

    .text__logo {
        font-size: 15px;
        margin-bottom: 3px;
    }

    .text__name {
        font-size: 13px;
    }

    .tel__link {
        font-size: 11px;
    }

    .telephone {
        width: 17px;
    }

    h1, .header__title {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .button__header {
        margin-top: 10px;
    }

    .services br {
        display: none;
    }

    .lady {
        bottom: 0px;
    }
    .main__wrapper {
        grid-template-columns:auto;
        max-width: 300px;
    }
    .box1 { 
        grid-row: 1; 
    } 
    .box2 { 
        grid-row: 2; 
    } 
    .box3 { 
        grid-row: 3; 
    } 
    .box4 { 
        grid-row: 4; 
    } 
    .box5 { 
        grid-row: 5; 
    } 
    .box6 { 
        grid-row: 6; 
    }

    .box1, .box2, .box3,  .box4, .box5, .box6 {
        max-width: 250px;
    }

    .main__text {
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .main__text br {
        display: none;
    }

    .attention__text {
        text-align: left;
        font-size: 16px;
    }

    .appointment {
        width: 320px;
        height: 440px;
        margin-bottom: 30px;
    }

    .appointment__box {
        width: 290px;
        height: 410px;
        padding: 5px 5px;
    }

    .appointment__tittle {
        width: 90%;
        margin: 15px auto 5px auto;
    }

    .appointment__text {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 0 15px;
    }

    .appointment__button {
        display: block;
        margin: 0 auto;
    }

    .button__name, .button__phone, .button__sign {
        margin: 0 auto;
    }

    .button__phone {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .img__children {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer__zub {
        width: 50px;
    }

    .tooth__text {
        font-size: 25px;
    }

    .footer__link {
        font-size: 15px;
    }

    .footer__nav {
        margin-bottom: 25px;
    }

    .lang__footer {
        font-size: 15px;
    }
    
    .lang__footer li a {
        font-size: 15px;
    }
    
    .ua__text {
        font-size: 15px;
    }

    .hou__item {
        font-size: 15px;
    }
    
    .hou__item--text {
        font-size: 15px;
    }

    .contacts_text {
        font-size: 24px;
    }
    
    .contacts_name, .contacts_address {
        font-size: 15px;
    }
    
    .contacts_call {
        font-size: 15px;
    }
    
    .contacts_instagram {
        font-size: 15px;
    }
    
    .contacts_mail {
        font-size: 15px;
    }
    
    .copyright {
        font-size: 10px;
    }

}